.initialHeader {
    width: 100%;
    background-color: darkslategrey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: 70px;
    padding: 50px 30px 20px 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.bottomFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(235, 234, 233);
    padding: 20px;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottomFooter div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    transition: 0.4s transform;
}

.bottomFooter div:active, .add-button:active{
    transform: scale(1.2);
}

.bottomFooter .active{
    transform: scale(1.5);
}

.add-button{
    position: fixed;
    bottom: 80px;
    right: 30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: 0.4s transform;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
}



.tarjeta{
    margin:20px;
    border-radius: 20px;
    padding: 20px;
    background-color: bisque;
    font-size:1.1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction: column;
}

main{
    margin-bottom: 100px;
}